
h1{
  font-size:50pt ;
  text-align:center;
  color: #ffffff;
}
/*credit to all owners
*/
body{

font-size:15pt;
  background-image:url(icecream.jpg) ;
  color:#ffffff;
}

p{margin-right: 800px;
}

footer{
  color: #000000;
}
